.card-img{
    filter: brightness(.4   );
    min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
    
}
.card{
    text-align: center;
}
h1{
    font-family: 'Lobster', cursive;
    padding-top: 100px;
    font-size: 4em;
    color:#fff;
}
.card-text{
    color:#fff;
}
button {
    transition-duration: 0.4s;
    width: 75px;
    border-radius: 10px;
  }
  
button:hover {
    background-color: #000; 
    color: white;
  }
input{
   font-family: Arial, Helvetica, sans-serif;
}
ul{
    background-color:rgba(0,0,0,0.5);
    font-size: 1.5em;
    color: #fff;
}
@media (min-width:320px){
    h1{
        font-size: 5em;
    }
    ul{
        font-size: 2em;
    }
}